{% extends "main.html" %}
{% block content %}
{% include "header.html" %}



<div class = 'flash'>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>


<div class="container main-body">
	<div class="row">
		<div class="col-md-12">
      <div class="col-md-4">
          <h3>Categories</h3>
        {% for category in categories %}
    		  <div class="category">
            <a href="{{ url_for('showCategory', category_name = category.name) }}">{{ category.name }}</a>
          </div>
      	{% endfor %}
      </div>

      <div class="col-md-8">
        <h3>{{ main_category.name }} Items ({{ items | length }} Items)</h3>

        {% for item in items %}
  			   <div class="item">
             <a href="{{ url_for('showItem', category_name = main_category.name, item_name = item.name) }}">{{ item.name }}</a>
             <span class="category">({{ item.category.name }})</span>
           </div>
      	{% endfor %}
      </div>
    </div>
	</div>
</div>

{% endblock %}
